<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Site portfolio de Jonathan Wagner - Full Stack Developer !">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Jonathan Wagner Portfolio" />
    <meta property="og:description" content="Site portfolio de Jonathan Wagner - Full Stack Developer !" />
    <meta property="og:image" content="https://res.cloudinary.com/my-apps-le-wagon/image/upload/v1583690032/Screenshot_from_2020-03-08_18-49-44_ot0klg.jpg">
    <title>Portfolio Jonathan Wagner</title>
    <meta property="og:url" content="http://www.jonathanwagner.fr/" />
    <meta property="og:site_name" content="Jonathan Wagner" />

    <meta name=”twitter:title” content="Jonathan Wagner">
    <meta name=”twitter:description” content="Site portfolio de Jonathan Wagner - Full Stack Developer !">
    <meta name=”twitter:image” content="https://res.cloudinary.com/my-apps-le-wagon/image/upload/v1583690032/Screenshot_from_2020-03-08_18-49-44_ot0klg.jpg">
    <meta name=”twitter:site” content=”@USERNAME”>
    <meta name=”twitter:creator” content=”@USERNAME”>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
